@media (min-width: 768px) and (max-width: 1023px) {
    :root {
        --font-h1: 44px;
    }
}

@media (max-width: 767px) {
    :root {
        --font-h1: 26px;
    }
}

/*반응형 화면 크기*/
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
@mixin posCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin ell01 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin noScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}